*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* page background */

body{ 
    font-family:Arial, Helvetica, sans-serif; 
    background: linear-gradient(135deg, #4e73df, #1cc88a); 
    height: 100vh; 
    display:flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

h1{ 
    padding:10px;
    width:100%;
}
/* form container */
.form-container{ 
    background-color: #ffffff;
    padding:30px; 
    width:30%;
    border-radius:12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15); 
}

/* heading */
.form-group{
    margin-top: 20px;
    margin-bottom:20px; 
}

.form-group label{ 
    display: block;
    margin-bottom:5px;
    font-weight:bold;
    color: #555; 
}

.form-group input,
.form-group textarea { 
    width:100%;
    padding:10px;
    border-radius:6px;
    border:1px solid #ccc; 
    font-size:14px;
    transition:0.3s,ease; 
}

.radio-group {
    display: flex;
    padding:5px; 
    align-items: center;
}

button{ 
    width:100%;
    padding:10px;
    border-radius: 6px;
    border:none;
    background-color: #4e73df;
    color:white; 
    font-size:16px;
    cursor: pointer;
    transition: 0.3s ease;
}

/* Button hover */
button:hover {
    background-color: #2e59d9;
}
